@font-face {
  font-family: "Adam";
  src: local("Adam"),
    url("../../public/fonts/Adam/Adam-Bold.ttf") format("truetype");
  font-weight: 800;
  font-display: auto;
}

@font-face {
  font-family: "Adam";
  src: local("Adam"),
    url("../../public/fonts/Adam/Adam-Light.ttf") format("truetype");
  font-weight: 200;
  font-display: auto;
}

@font-face {
  font-family: "Adam";
  src: local("Adam"),
    url("../../public/fonts/Adam/Adam-Medium.ttf") format("truetype");
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../../public/fonts/Manrope/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: auto;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../../public/fonts/Manrope/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../../public/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../../public/fonts/Manrope/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../../public/fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../../public/fonts/Manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: auto;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../../public/fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: auto;
}
