//FONTS
@import "./fonts.scss";

//VARIABLES
@import "./variables.scss";

//APP
@import "./app/styles.scss";

//UTILS
@import "./utils/styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  padding: 1.5rem;
  font-size: 100%;
  color: rgba(14, 14, 14, 1);
  font-family: var(--ff-manrope);
}

p {
  line-height: 1.5;
}

a {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

.main-wrapper {
  border: 1px solid var(--b-color);
  position: relative;
  min-height: calc(100vh - 3rem);
  // background-color: rgba(150, 150, 150, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
