//FONTS
@import "./fonts.scss";

//VARIABLES
@import "./variables.scss";

//APP
@import "./app/styles.scss";

//UTILS
@import "./utils/styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  padding: 1.5rem;
  font-size: 100%;
  color: rgba(14, 14, 14, 1);
  font-family: var(--ff-manrope);
}

p {
  line-height: 1.5;
}

a {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

.main-wrapper {
  border: 1px solid var(--b-color);
  position: relative;
  min-height: calc(100vh - 3rem);
  // background-color: rgba(150, 150, 150, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  max-width: 1980px;
  margin-inline: auto;
}

.line-x {
  background-color: var(--b-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
}

img {
  vertical-align: middle;
}

.title-header {
  font-size: clamp(3rem, 6vw, 6rem);
  font-family: "Adam";
}

.title-sm {
  font-family: var(--ff-adam);
  font-size: clamp(1rem, 2vw, 1.5rem);
  // font-weight: 800;
}

.title-md {
  font-family: var(--ff-adam);
  font-size: clamp(24px, 3vw, 32px);
}

.title-lg {
  font-family: var(--ff-adam);
  font-size: clamp(32px, 4vw, 48px);
}

.desc-sm {
  font-size: clamp(14px, 2vw, 18px);
}

.desc-md {
  font-size: clamp(16px, 2vw, 20px);
}

.desc-lg {
  font-size: clamp(20px, 2vw, 24px);
}
