//FONTS
@import "./fonts.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.5rem;
}

.main-wrapper {
  border: 1px solid rgba(100, 100, 100, 1);
  position: relative;
  min-height: calc(100vh - 3rem);
  // background-color: rgba(150, 150, 150, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
