:root {
  --ff-manrope: "Manrope", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --ff-adam: "Adam", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --b-color: rgb(14, 14, 14);

  --c-dark: rgba(14, 14, 14, 1);
  --c-dark-hover: rgba(14, 14, 14, 0.7);
  --c-light: rgba(240, 240, 240, 1);
}
