#singlecontent {
  .singlecontent__section {
    display: grid;
    grid-template-columns: 0.89fr 1px 2fr;
    gap: 4rem;
    padding: 1rem 0;

    &-title {
      position: relative;
      .title__content {
        position: sticky;
        top: 4rem;
        left: 0;
      }
    }

    &-pictures {
      display: grid;
      gap: 2rem;
      .pictures__content {
        aspect-ratio: 2 / 1;
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
