#singlecontent {
  .singlecontent__section {
    display: grid;
    grid-template-columns: 0.89fr 1px 2fr;
    gap: 4rem;
    padding: 1rem 0;

    &-title {
      position: relative;
      .title__content {
        position: sticky;
        top: 4rem;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        &-feature {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          h2 {
            font-family: var(--ff-adam);
            font-size: clamp(24px, 3vw, 32px);
          }
          p {
            font-size: clamp(14px, 2vw, 18px);
          }
        }
      }
    }

    &-pictures {
      display: grid;
      gap: 2rem;
      .pictures__content {
        aspect-ratio: 2 / 1;
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
