#worklist {
  .project {
    .wrapper-px {
      padding: 0;
    }
    &:first-of-type {
      .wrapper-py {
        padding-top: 0;
      }
    }
    &:last-of-type {
      .wrapper-py {
        padding-bottom: 0;
      }
      .wrapper-line {
        display: none;
      }
    }

    .project__content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 4rem;
      padding: 1rem 0;

      &-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        h2 {
          font-family: var(--ff-adam);
          font-size: clamp(32px, 4vw, 3.5rem);
          margin-bottom: 2rem;
        }
        .services {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .service {
            font-size: 1.5rem;
          }
        }
        a {
          background-color: var(--c-dark);
          color: var(--c-light);
          border-radius: 4px;
          padding: 0.5rem 1rem;
          text-align: center;
          transition: 0.2s ease;
          width: fit-content;
          letter-spacing: 1px;

          &:hover {
            background-color: rgba(14, 14, 14, 0.7);
          }
        }
      }

      &-picture {
        overflow: hidden;
        .picture__content {
          aspect-ratio: 2 / 1;
          width: 100%;
          height: auto;
          overflow: hidden;
          border-radius: 12px;
          min-height: 360px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
