.wrapper {
  .wrapper-px {
    padding: 0 3rem;
    .wrapper-py {
      padding: 3rem 0rem;
      .wrapper-content {
        position: relative;
      }
    }
    .wrapper-line {
      width: 100%;
      height: 1px;
      background-color: var(--b-color);
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper-px {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper-px {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
