@import "./navbar.scss";
@import "./hero.scss";
@import "./clients.scss";
@import "./services.scss";
@import "./projects.scss";
@import "./how.scss";
@import "./values.scss";
@import "./contact.scss";
@import './footer.scss';