@import "./services/styles";
@import "./work/styles";
@import "./about/styles";
@import "./contact/styles";
@import "./navbar.scss";
@import "./hero.scss";
@import "./clients.scss";
@import "./services.scss";
@import "./projects.scss";
@import "./how.scss";
@import "./values.scss";
@import "./contact.scss";
@import "./footer.scss";
