#clients {
  .clients__section {
    display: grid;
    grid-template-columns: auto 1px 1fr;
    gap: 4rem;

    &-title {
      display: flex;
      align-items: center;
    }

    &-line {
      background-color: var(--b-color);
    }

    &-logos {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 4rem;
      .logos__picture {
        display: flex;
        justify-content: center;
      }
    }
  }
}
