#footer {
  .footer__section {
    &-grid {
      display: grid;
      grid-template-columns: 0.89fr 1px 2fr;
      gap: 4rem;
      min-height: 200px;

      .item {
        .wrapper-px {
          padding: 0;
          height: 100%;
        }
        .wrapper-py {
          padding: 0;
          height: 100%;
        }
        .wrapper-line {
          display: none;
        }
        .wrapper-content {
          height: 100%;
          display: flex;
        }
      }

      .grid__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .grid__right {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        &-list {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          span {
            font-weight: 800;
          }
        }
      }
    }
  }
  .author {
    padding: 2rem 3rem;
  }
  @media screen and (max-width: 1080px) {
    .footer__section {
      &-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
        .item {
          .wrapper-py {
            padding-bottom: 3rem;
          }
          .wrapper-line {
            display: block;
          }
        }
        .grid__info {
          gap: 4rem;
        }
      }
    }
  }
}
