#hero {
  .hero__section {
    display: grid;
    grid-template-columns: minmax(200px, 1.2fr) 1fr;
    gap: 2rem;
    column-gap: 4rem;
    padding: 3rem 0;

    &-main {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 2rem;
      // column-gap: 4rem;
      .main__content {
        h1 {
          margin-bottom: 1rem;
          span {
            // font-weight: 200;
            // font-style: italic;
            // color: rgb(255, 255, 255);
            color: #83c5be;
            -webkit-text-stroke: 1px black;
          }
        }
        p {
          // font-size: clamp(16px, 2vw, 22px);
          max-width: 700px;
        }
      }
    }

    &-picture {
      display: flex;
      justify-content: flex-end;
      overflow: hidden;
      .picture__card {
        aspect-ratio: 14 / 11;
        width: 100%;
        height: auto;
        // max-width: 800px;
        border: 1px solid var(--b-color);
        border-radius: 8px;
        overflow: hidden;
        &-carousel {
          height: 100%;
          width: 100%;
          transform: rotate(20deg) translateY(-12%);
          .carousel__content {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            img {
              width: 18vw;
              height: auto;
              margin-bottom: 0.5rem;
              vertical-align: middle;
              border: 1px solid var(--b-color);
            }

            .column {
              display: flex;
              flex-direction: column;
              height: fit-content;
              animation: upAnimation 50s linear infinite;

              @keyframes upAnimation {
                0% {
                  transform: translateY(0);
                }

                100% {
                  transform: translateY(-50%);
                }
              }

              @keyframes downAnimation {
                0% {
                  transform: translateY(-50%);
                }

                100% {
                  transform: translateY(0%);
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      grid-template-columns: 1fr;
      gap: 3rem;
      padding: 0;

      &-main {
        gap: 6rem;
      }

      &-picture {
        .picture__card {
          &-carousel {
            .carousel__content {
              img {
                width: 35vw;
              }
            }
          }
        }
      }
    }
  }
}
