#how {
  .how__section {
    display: grid;
    grid-template-columns: 2fr 1px 0.89fr;
    gap: 3rem;
    min-height: 540px;
    padding: 1rem 0;

    &-title {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: space-between;
      .title__content {
        span {
          font-weight: 800;
        }
        h2 {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
    }

    &-desc {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: space-between;

      a {
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        background-color: var(--c-dark);
        color: var(--c-light);
        transition: 0.2s ease;
        letter-spacing: 1px;

        &:hover {
          background-color: var(--c-dark-hover);
        }
      }
    }

    @media screen and (max-width: 1080px) {
      grid-template-columns: 1fr;
      gap: 6rem;
      .inter {
        display: none;
      }
      &-title {
        gap: 2rem;
        justify-content: flex-start;
        .title__content {
          h2 {
            margin-bottom: 0rem;
          }
        }
      }
      &-desc {
        gap: 2rem;
        justify-content: flex-end;
      }
    }
  }
}
