#navbar {
  .navbar-padding {
    padding: 0rem 3rem;
    .navbar-content {
      padding: 1.5rem 0rem;
      .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar-content-main {
          display: flex;
          align-items: center;
          gap: 4rem;
          nav {
            display: flex;
            gap: 2rem;
            a {
              position: relative;
              font-size: clamp(14px, 3vw, 16px);
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 1px;
                background-color: rgba(14, 14, 14, 1);
                transition: 0.2s ease;
              }
              &:hover {
                &::after {
                  width: 100%;
                }
              }
            }
          }
          .options {
            a {
              background-color: rgba(14, 14, 14, 1);
              color: white;
              padding: 0.5rem 0.8rem;
              border-radius: 4px;
              letter-spacing: 1px;
              transition: 0.2s ease;
              &:hover {
                background-color: rgba(14, 14, 14, 0.7);
              }
            }
          }
        }
      }
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: var(--b-color);
    }
  }
}
