#navbar {
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 99;
  .line {
    width: 100%;
    height: 1px;
    background-color: var(--b-color);
  }
  .navbar-padding {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 999;
    .navbar-content-main {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .main__menu {
        display: flex;
        align-items: center;
        gap: 3rem;
        nav {
          display: flex;
          gap: 2rem;
          .active {
            &::after {
              width: 100%;
            }
          }
          a {
            position: relative;
            font-size: clamp(14px, 3vw, 16px);
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 1px;
              background-color: rgba(14, 14, 14, 1);
              transition: 0.2s ease;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
        }
        &-contact {
          background-color: rgba(14, 14, 14, 1);
          color: white;
          padding: 0.5rem 0.8rem;
          border-radius: 4px;
          letter-spacing: 1px;
          transition: 0.2s ease;
          &:hover {
            background-color: rgba(14, 14, 14, 0.7);
          }
        }
      }

      .main__socials {
        &-icons {
          display: flex;
          gap: 0.5rem;

          .en,
          .es {
            font-family: "Adam";
            font-weight: 800;
            width: 35px;
            height: 35px;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10rem;
            padding-top: 3px;

            &:hover {
              background-color: rgba(14, 14, 14, 1);
              color: white;
            }
          }
        }
      }

      .iconmenu {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .iconmenu__line {
          width: 100%;
          height: 1px;
          background-color: var(--b-color);
        }
      }

      .linetwo,
      .iconmenu {
        display: none;
      }
    }

    .sidebar {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      width: 100%;
      border: 1px solid var(--b-color);
      z-index: 99999;
      background-color: rgb(221, 221, 221);
      transition: 0.3s ease;
      transform: translateY(110%);
      .sidebar-links {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        .link {
          border-bottom: 1px solid var(--b-color);
          padding: 1rem 0;

          &:first-of-type {
            padding-top: 0;
          }
        }
        .contactt {
          padding-top: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
        .contact-link {
          background-color: var(--c-dark);
          color: var(--c-light);
          border-radius: 4px;
          padding: 0.5rem 1rem;
          text-align: center;
          transition: 0.2s ease;

          &:hover {
            background-color: rgba(14, 14, 14, 0.7);
          }
        }
      }
    }
  }

  @media screen and (max-width: 1080px) {
    .navbar-padding {
      .navbar-content-main {
        .main__menu {
          nav {
            display: none;
          }
        }
        .iconmenu {
          display: flex;
        }
      }
      .sidebar {
        // display: flex;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 2rem;
    .navbar-padding {
      padding: 1rem 0;
    }
  }

  @media screen and (max-width: 480px) {
    padding: 0 1.5rem;
    .navbar-padding {
      .navbar-content-main {
        .main__menu,
        .main__socials {
          display: none;
        }
        .linetwo {
          display: none;
        }
      }
    }
  }
}
