#projects {
  .projects__section {
    display: grid;
    grid-template-columns: 1fr 1px 2.2fr;
    gap: 4rem;
    padding-top: 1rem;

    &-title {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      p {
        margin-bottom: 1rem;
      }
      a {
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        background-color: var(--c-dark);
        color: var(--c-light);
        transition: 0.2s ease;

        &:hover {
          background-color: var(--c-dark-hover);
        }
      }
    }

    &-grid {
      .wrapper-py {
        padding-top: 0;
        padding-bottom: 2rem;
      }
      .wrapper-px {
        padding-left: 0;
        padding-right: 0;
      }
      .picture {
        .picture__content {
          aspect-ratio: 5 / 3;
          width: 100%;
          height: auto;
          overflow: hidden;
          border-radius: 12px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        h3 {
          margin-top: 1rem;
        }
      }
    }
  }
}
