#values {
  .values__section {
    &-title {
      .title__content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h2 {
        font-size: 6rem;
        font-family: var(--ff-adam);
        margin-bottom: -0.8rem;
      }
    }

    &-content {
      .content__values {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
        gap: 4rem;
        padding: 1rem 0;

        &-picture {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
          }
        }

        &-grid {
          .vision {
            .wrapper-py {
              padding-top: 0;
            }
            .wrapper-px {
              padding-left: 0;
              padding-right: 0;
            }
          }
          .innovation {
            .wrapper-px {
              padding-left: 0;
              padding-right: 0;
            }
          }
          .quality {
            padding-top: 3rem;
          }
          .value__content {
            display: flex;
            gap: 3rem;
            .logo {
              span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border: 1px solid var(--b-color);
                border-radius: 10rem;
                font-size: 1.2rem;
              }
            }
            .info {
              h3 {
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
