#heroabout {
  .heroabout__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    min-height: 450px;
    padding: 1rem 0;

    &-features {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      .feature {
        letter-spacing: 1px;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        border: 1px solid var(--c-dark);
        // background-color: var(--c-dark);
        // color: var(--c-light);
      }
    }
  }
}
