#profileabout {
  .profileabout__section {
    display: grid;
    grid-template-columns: 0.89fr 1px 2fr;
    gap: 4rem;
    padding: 1rem 0;

    &-picture {
      .picture__content {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 12px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .info__content {
        max-width: 800px;
        h2 {
          margin-bottom: 1rem;
        } 
      }
      .info__resume {
        display: flex;
        a {
          background-color: var(--c-dark);
          padding: 0.5rem 1rem;
          color: var(--c-light);
          border-radius: 4px;
          transition: 0.2s ease;
          letter-spacing: 1px;

          &:hover {
            background-color: var(--c-dark-hover);
          }
        }
      }
    }
  }
}
